body {
  background-color: #282c34;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: calc(10px + 1vmin);
  color: white;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.content {
  columns: 3;
  height: 100%;
}

.item {
  background-color: #465656;
  border-radius: 5px;
  text-align: center;
  height: 100%;
}

.content,
.item {
  margin-bottom: 1.7rem;
  padding: 2rem;
}

p {
  margin: 1rem 0 0 0;
}

.form__group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form__group__item {
  margin: auto;
  width: 100%;
}
input {
  margin: 1rem 0;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  width: 94%;
  border-radius: 3px;
  border: none;
  font-size: 1.2rem;
  padding: 10px 14px;
}

button {
  padding: 2rem;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  background-color: gainsboro;
  border-radius: 5px;
  box-shadow: 0px 10px 10px -4px #54545496;
}

img {
  max-width: 150px;
}
